.navbar a {
  padding: 5px; }

.broadcastModule {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%; }
  .broadcastModule .broadcastModuleDiv {
    flex-basis: 100%;
    text-align: center; }
  .broadcastModule h2 {
    text-align: center; }
  .broadcastModule h3, .broadcastModule h4 {
    padding: 20px; }

.emitController {
  border-right: 1px solid #000; }
